/* You can add global styles to this file, and also import other style files */
body {
  background-color: #C3F9FC;
  ;
}

input.form-control, input.form-control:focus {
  background-color: #C3F9FC;
  color: black;
  border-color: black;
  border-width: 2px;
  border-radius: 25px;
  border: 2px solid black;
  padding: 20px;
}

  input.form-control:focus {
    box-shadow: none;
    border-bottom-color: black;


  }

button[type=submit].btn {
  border-radius: 20px;
  background-color: #000;
  color: #fff;
}

div.form-group label {
  color: black;
  font-weight: bold;
}

div.form-group.required > label:first-child:after {
  content: '*';
  color: #dc3545;
  padding-left: 5px;
}

#toast-container > div {
  opacity: 1;
}

form {
  margin: 0px 16px;
}

div.side-header {
  border: 3px solid black;
}

.text-danger{
  color:black;
}
